# IDEA files.                                                                                                                                          [0/90]
.idea/

# KDevelop files.
.kdev4/
*.kdev4
.directory

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.cache/
.coverage

# Databases
*.db

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

npm-debug.log
